.aboutMe__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.aboutMe__date {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.aboutMe__date h2 {
  position: relative;
  font-size: 2.5em;
  font-weight: 400;
  color: var(--text-color-beigh);
}

.aboutMe__date h2::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color-beigh);
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.aboutMe__date p {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  color: var(--text-color-white);
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.skills h2 {
  position: relative;
  font-size: 2.5em;
  font-weight: 400;
  color: var(--text-color-beigh);
}

.skills h2::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color-beigh);
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.skills__ul {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.skills__li {
  min-width: 5em;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2em;
  -webkit-box-reflect: below -0.8em -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.116))
    );
}

.skills__li i {
  font-size: 3.5em;
  animation: rotate infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.skills__li span {
  font-size: 1.3em;
}

.javascript {
  color: rgb(230, 215, 0);
}

.html5 {
  color: rgb(4, 46, 160);
}
.css3 {
  color: rgb(188, 57, 0);
}

.react {
  color: #00e5e9;
}

.angular {
  color: rgb(159, 20, 20);
}

.bootstrap {
  color: #6f0ad4;
}

.nodejs {
  color: rgb(4, 154, 24);
}

.postgresql {
  color: rgb(51, 132, 255);
}
.blender {
  color: rgb(194, 68, 10);
}

.php {
  color: blue;
}

@media (max-width: 1000px) {
  .aboutMe__container {
    height: 100%;
  }
  .skills {
    margin: 0;
    padding-top: 2em;
  }
  .aboutMe__date h2 {
    font-size: 1.5em;
  }
  .skills h2 {
    font-size: 1.5em;
  }
  .aboutMe__date p {
    font-size: 1em;
  }
  .skills__li span {
    font-size: 1em;
  }
}
