.contact__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
  z-index: 2;
  background: rgb(1, 1, 18);
}

.contact__canvas {
  width: 100%;
  max-width: 35em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__date {
  width: 100%;
  max-width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__date h2 {
  font-size: 2.5em;
  font-weight: 800;
  color: var(--body-purple);
  text-shadow: 0 0 0.05em var(--body-purple);
  font-family: 'Martian Mono', monospace;
}

.contact__date span {
  text-align: center;
  font-size: 1.35em;
  color: var(--text-color-white);
  font-weight: 600;
  padding: 1em;
}

.contact__date ul {
  position: relative;
  z-index: 10;
  padding-top: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.contact__date li {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--body-purpleBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.contact__date li:hover {
  background-color: var(--body-purple);
  transition: 0.5s;
}
.contact__date li a {
  color: var(--body-purple);
  transition: 0.5s;
}
.contact__date li a:hover {
  color: var(--body-white);
  transition: 0.5s;
}

.contact__date i {
  font-size: 2em;
}

@media (max-width: 1000px) {
  .contact__container {
    height: 100%;
    padding: 0.5em;
    padding-top: 5em;
    padding-bottom: 2em;
  }
  .contact__date h2 {
    font-size: 2em;
  }
  .contact__date span {
    font-size: 1em;
  }
}
