.projects__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  z-index: 2;
  padding: 2em 1em 2em 1em;
  background: rgb(1, 1, 18);
}

.projects__dates {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.projects__dates h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--body-purple);
  text-shadow: 0 0 0.05em var(--body-purple);
  font-family: 'Martian Mono', monospace;
}

.projects__dates span {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
  color: var(--text-color-white);
  max-width: 60em;
}

.projects__informationProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
.projects__oneProjects {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 24em;
  height: auto;
  padding: 1em 1em 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--body-purpleBlack);
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.1em rgb(10, 1, 25);
}

.oneProjects2 {
  transform: translateX(-100%);
}

.oneProjects3 {
  transform: translateX(-200%);
}
.oneProjects4 {
  transform: translateX(-300%);
}

.projects__oneProjects img {
  width: 100%;
  height: 13.5em;
  border-radius: 0.5em;
  filter: brightness(0.8);
}

.projects__oneProjects h3 {
  font-size: 1.5em;
  width: 100%;
  font-weight: 600;
  color: var(--body-purple);
  font-family: 'Martian Mono', monospace;
  padding-bottom: 0.5em;
  text-shadow: 0 0 0.05em var(--body-purple);
}
.projects__oneProjects p {
  margin-top: -1em;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--text-color-white);
}

.projects__oneProjects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.projects__oneProjects li {
  font-size: 1em;
  font-weight: 200;
  color: var(--text-color-white);
}

.projects_link {
  position: absolute;
  z-index: 15;
  bottom: 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--body-white);
  cursor: pointer;
}

.projects_link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--body-purple);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.projects_link:hover::after {
  transform: scaleX(1);
}

.projects_link:hover {
  color: var(--body-purple);
  transition: 0.5s;
}

.project__imageQr {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.789);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.project__imageQr img {
  width: 300px;
  height: 300px;
}

.project__imageQr p {
  cursor: pointer;
  font-size: 1.8em;
  color: #e42a52;
}

.project__imageQr p:hover {
  color: #00fbff;
}

.pojects__oldEfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.03;
  border-radius: 1em;
  background-image: url('/effectold.gif');
}

@media (max-width: 1000px) {
  .projects__container {
    height: 100%;
    padding-top: 5em;
  }
  .skills {
    margin: 0;
    padding-top: 2em;
  }
  .projects__dates h2 {
    font-size: 1.8em;
  }
  .projects__dates span {
    font-size: 1em;
  }
}
