.projects__container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.projects__dates{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.projects__dates h2{
    color: #00fbff;
    text-shadow: 0em 0.2em 0.5em #046566b6 ;
}

.projects__dates span{
    font-size: 0.85em;
    text-align: center;
color: #00fbff;
max-width: 60em;
}

.projects__informationProjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.projects__oneProjects{
    position: relative;
    width: 100%;
    max-width: 24em;
    height: 29em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgb(11, 8, 26);
    border-radius: 1em;
}

.oneProjects2{
    transform: translateX(-100%);
}

.oneProjects3{
    transform: translateX(-200%);
}

.projects__oneProjects img{
    width: 100%;
    height: 13.5em;
    border-radius: 0.5em;
}

.projects__oneProjects h3{
    font-size: 1.6em;
    width: 100%;
    font-weight: 500;
    color: #8938da;

}
.projects__oneProjects p{
    margin-top: -1em;
    font-size: 0.7em;
    font-weight: 200;
    color: #8154ae;
}

.projects__oneProjects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.projects__oneProjects li {
    font-size: 0.8em;
    font-weight: 200;
    color: #5fbabc;
}

.projects__gitHub{
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    top: 0.5em;
    right: 0.5em;
    z-index: 5;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.841);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
transition: 0.5s;
}

.projects__gitHub:hover{
    background-color: rgba(255, 255, 255, 0.842);
    color: black;
    transition: 0.5s;
}
.projects__gitHub i {
    font-size: 2em;
}

.projects_link{
    position: absolute;
    bottom: 1.5em;
    color: #e42a52;
    cursor: pointer;
}

.projects_link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6f0ad4;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .projects_link:hover::after {
    transform: scaleX(1);
  }
  
  .projects_link:hover {
    color: #6f0ad4;
    text-shadow: 0em 0.2em 0.5em #7c1cdc;
    transition: 0.5s;
  }

  .project__imageQr{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.789);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }

  .project__imageQr img{
    width: 300px;
    height: 300px;
  }

  .project__imageQr p{
    cursor: pointer;
    font-size: 1.8em;
    color: #e42a52;
  }

  .project__imageQr p:hover{
    color: #00fbff;
  }

  @media (max-width: 850px) {
    .projects__container{
        height: 100%;
        padding-top: 5em;
    }
    .skills{
        margin: 0;
        padding-top: 2em;
    }
  }
