.services__container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--body-background);
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  gap: 4em;
  padding: 3em 1em 3em 330px;
}

.services__section-one {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5em;
}

.services__section-one h2 {
  position: relative;
  font-size: 1.8em;
  font-weight: 800;
  color: var(--text-color-white);
  text-shadow: 0 0 0.05em var(--body-purple);
  font-family: 'Martian Mono', monospace;
  animation: translate 1s forwards;
}

.services__section-one h2::before {
  content: '';
  position: absolute;
  bottom: -0.3em;
  left: 0;
  width: 40%;
  height: 0.12em;
  background-color: var(--text-color-red);
  transform: scaleX(1);
}

.services__section-one h2::after {
  content: '';
  position: absolute;
  bottom: -0.7em;
  left: 0;
  width: 20%;
  height: 0.12em;
  background-color: var(--text-color-red);
  transform: scaleX(1);
}

/* .services__section-two */
.services__section-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.servicesSectionOne__article {
  width: 320px;
  height: 350px;
  background-color: var(--body-gray);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: 0.5em;
  animation: translate 1s forwards;
}

.servicesSectionOne__article path {
  stroke: var(--text-color-red);
}

.servicesSectionOne__article i {
  color: var(--text-color-red);
  font-size: 3em;
}

.servicesSectionOne__article h3 {
  color: var(--text-color-white);
  text-align: center;
  font-size: 1.3em;
}

.servicesSectionOne__article p {
  font-size: 0.9em;
  color: var(--text-color-p);
  text-align: center;
}

@media (max-width: 900px) {
  .services__container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 1em;
    padding-top: 6em;
  }
}
