.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
}
.app__img span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.472);
}
.app__img img {
  width: 100%;
  height: 100%;
}

.film-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.05;
  background-image: url('/effectold.gif');
}

.loading__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 6, 6);
  z-index: 100;
}

.loading__player {
  width: 50vw;
  animation: loading-animation 3.8s forwards;
}

@keyframes loading-animation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .loading__player {
    width: 80vw;
  }
}
