.app__img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
}

.app__img span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.472);
}

.app__img img {
  width: 100%;
  height: 100%;
}

.loading__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 6, 6);
  z-index: 100;
}

.loading__player {
  width: 50vw;
  animation: loading-animation 3.8s forwards;
}

@keyframes loading-animation {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.app__modeColor {
  width: 2em;
  overflow: hidden;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  z-index: 5;
  right: 1%;
  top: 10%;
  color: var(--text-color-white);
  transform: translateX(0);
  transition: 0.7s ease;
}

.activeThemeColor {
  width: 12em;
  transition: 0.7s ease;
}

.app__modeColor i {
  padding: 0.2em;
  cursor: pointer;
  font-size: 1.4em;
  background-color: var(--body-gray);
  border-radius: 50%;
}

.appModeColor__iconsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8em;
}

.appModeColor__themeColors {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8em;
  align-items: start;
  font-size: 1.1em;
  font-weight: 600;
  background-color: var(--body-gray);
  padding: 0.5em;
  border-radius: 0.3em;
}

.appModeColor__themeColors ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.appModeColor__themeColors li {
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
}

@media (max-height: 450px) {
  .app__modeColor {
    top: 6em;
    right: 1em;
  }
}